* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #F5FFFA;
    color: #333333;
    overflow: hidden;
    overflow-y: scroll;
}
